{{ define "main" }}

<section id="home">
        <ul>
          {{ range (.Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections)).Pages }}
          <li>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1> 
            {{ partial "aside" . }}
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read more&hellip;</a>
            {{ end }}
          </li>
          {{ end }}
          {{ template "_internal/pagination.html" . }}
        </ul>
      </section>

{{ end }}
